body {
  background-image: url("https://d1hjkbq40fs2x4.cloudfront.net/2017-04-03/files/wave-photography_1539.jpg");
  background-size: cover;
  background-position: center;

  background-position: center 50px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: rgb(23, 18, 131);
  opacity: 0.9;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: black;
  opacity: 0.8;
}

.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  opacity: 0.7;

  padding: 15px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: black;
  opacity: 0.9;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  opacity: 0.6;
  line-height: 2;
  border-left: 3px solid black;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 15px;
  margin: 30px;
  opacity: 0.8;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
